/* Desktop, tablet, bigphone, Smallphone Viewport */
$desktop-width: 1024px;
$ipad-width: 768px;
$iphone6-width: 414px;
$iphone5-width: 320px;


@mixin desktop {
  @media (min-width: #{$desktop-width})  {
    @content;
  }
};

@mixin ipad {
  @media (min-width: #{$ipad-width}) and (max-width: #{$desktop-width - 1px}){
    @content;
  }
}


@mixin iphone6 {
  @media  (min-width: #{$iphone6-width}) and (max-width: #{$ipad-width - 1px}) {
    @content;
  }
};

@mixin iphone5 {
  @media screen and (max-width: #{$iphone6-width - 1px}) {
    @content;
  }
};

/* Usage Example Breakpoint Mixins*/
/* 
p {
  font-size: 16px;

  @include tablet {
    font-size: 18px;
  }

  @include desktop {
    font-size: 20px;
  }
} 
*/